<section class="slide">
  <div class="overline">Timeline</div>
  <div class="timeline">
    <div class="timeline__event">
      <div class="timeline__dot"></div>
      <div class="timeline__date">January 2026</div>
      <div class="timeline__text">First milestone or event description.</div>
    </div>
    <div class="timeline__event">
      <div class="timeline__dot"></div>
      <div class="timeline__date">February 2026</div>
      <div class="timeline__text">Second event in the sequence.</div>
    </div>
    <div class="timeline__event">
      <div class="timeline__dot"></div>
      <div class="timeline__date">March 2026</div>
      <div class="timeline__text">Current state or upcoming milestone.</div>
    </div>
  </div>
</section>
